# Tarea 1 Bases de Datos 2024-1 Grupo 28

## Integrantes:
* Baltazar Portilla - 202173112-1
* Ivan Papic - 202273028-5

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [14]:
! pip3 install ipython-sql

! pip3 install psycopg2

Requirement already satisfied: ipython-sql in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython-sql) (2.0.29)
Requirement already satisfied: sqlparse in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: psycopg2 in c:\users\baltazar\anaconda3\envs\tarea1bd\lib\site-packages (2.9.9)

## Importar dependencias

In [15]:
import random
from datetime import datetime, timedelta

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [16]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:Kira162020@localhost:5432/Tarea1backedup

env: DATABASE_URL=postgresql://postgres:Kira162020@localhost:5432/Tarea1backedup

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [17]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.

conn = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Tarea1backedup',
   password="Kira162020"
)

print(conn)

<connection object at 0x000002CDF7141360; dsn: 'user=postgres password=xxx dbname=Tarea1backedup host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Director"

In [18]:
%%sql
CREATE TABLE director (
    id_director INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    edad INT NOT NULL
)

 * postgresql://postgres:***@localhost:5432/Tarea1backedup
(psycopg2.errors.DuplicateTable) la relación «director» ya existe

[SQL: CREATE TABLE director (
    id_director INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    edad INT NOT NULL
)]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "Actor"

In [19]:
%%sql
CREATE TABLE actor (
    id_actor INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    edad INT NOT NULL
)

 * postgresql://postgres:***@localhost:5432/Tarea1backedup
(psycopg2.errors.DuplicateTable) la relación «actor» ya existe

[SQL: CREATE TABLE actor (
    id_actor INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    edad INT NOT NULL
)]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "Pelicula"

In [20]:
%%sql
CREATE TABLE pelicula (
    id_pelicula INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    id_director INT NOT NULL,
    nombre VARCHAR(45) NOT NULL,
    genero VARCHAR(45) NOT NULL,
    duracion INT NOT NULL,
    fecha_publicacion DATE NOT NULL,
    FOREIGN KEY (id_director) REFERENCES director(id_director)
        ON DELETE RESTRICT
)

 * postgresql://postgres:***@localhost:5432/Tarea1backedup
(psycopg2.errors.DuplicateTable) la relación «pelicula» ya existe

[SQL: CREATE TABLE pelicula (
    id_pelicula INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    id_director INT NOT NULL,
    nombre VARCHAR(45) NOT NULL,
    genero VARCHAR(45) NOT NULL,
    duracion INT NOT NULL,
    fecha_publicacion DATE NOT NULL,
    FOREIGN KEY (id_director) REFERENCES director(id_director)
        ON DELETE RESTRICT
)]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "actor_participa_en_pelicula"

In [21]:
%%sql
CREATE TABLE actor_participa_en_pelicula (
  id_actor INT,
  id_pelicula INT NOT NULL,  -- Add NOT NULL constraint
  FOREIGN KEY (id_actor) REFERENCES actor(id_actor),
  FOREIGN KEY (id_pelicula) REFERENCES pelicula(id_pelicula)
);

 * postgresql://postgres:***@localhost:5432/Tarea1backedup
(psycopg2.errors.DuplicateTable) la relación «actor_participa_en_pelicula» ya existe

[SQL: CREATE TABLE actor_participa_en_pelicula (
  id_actor INT,
  id_pelicula INT NOT NULL,  -- Add NOT NULL constraint
  FOREIGN KEY (id_actor) REFERENCES actor(id_actor),
  FOREIGN KEY (id_pelicula) REFERENCES pelicula(id_pelicula)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla  "Premio_mejor_director"

In [22]:
%%sql
CREATE TABLE premio_mejor_director (
    id_premio INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    id_director INT NOT NULL,
    anio INT NOT NULL,
    FOREIGN KEY (id_director) REFERENCES director(id_director)
        ON DELETE CASCADE
        ON UPDATE RESTRICT
)

 * postgresql://postgres:***@localhost:5432/Tarea1backedup
(psycopg2.errors.DuplicateTable) la relación «premio_mejor_director» ya existe

[SQL: CREATE TABLE premio_mejor_director (
    id_premio INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    id_director INT NOT NULL,
    anio INT NOT NULL,
    FOREIGN KEY (id_director) REFERENCES director(id_director)
        ON DELETE CASCADE
        ON UPDATE RESTRICT
)]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla  "Premio_mejor_actor"

In [23]:
%%sql
CREATE TABLE premio_mejor_actor (
    id_premio INT GENERATED ALWAYS AS IDENTITY,
    id_actor INT NOT NULL,
    anio INT NOT NULL,
    FOREIGN KEY (id_actor) REFERENCES actor(id_actor)
        ON DELETE CASCADE
)

 * postgresql://postgres:***@localhost:5432/Tarea1backedup
(psycopg2.errors.DuplicateTable) la relación «premio_mejor_actor» ya existe

[SQL: CREATE TABLE premio_mejor_actor (
    id_premio INT GENERATED ALWAYS AS IDENTITY,
    id_actor INT NOT NULL,
    anio INT NOT NULL,
    FOREIGN KEY (id_actor) REFERENCES actor(id_actor)
        ON DELETE CASCADE
)]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla  "Premio_mejor_pelicula"

In [24]:
%%sql
CREATE TABLE premio_mejor_pelicula (
    id_premio INT GENERATED ALWAYS AS IDENTITY,
    id_pelicula INT NOT NULL,
    anio INT NOT NULL,
    FOREIGN KEY (id_pelicula) REFERENCES pelicula(id_pelicula)
        ON DELETE CASCADE
)

 * postgresql://postgres:***@localhost:5432/Tarea1backedup
(psycopg2.errors.DuplicateTable) la relación «premio_mejor_pelicula» ya existe

[SQL: CREATE TABLE premio_mejor_pelicula (
    id_premio INT GENERATED ALWAYS AS IDENTITY,
    id_pelicula INT NOT NULL,
    anio INT NOT NULL,
    FOREIGN KEY (id_pelicula) REFERENCES pelicula(id_pelicula)
        ON DELETE CASCADE
)]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

In [ ]:
import random
from datetime import date
#Prefijos y sufijos para crear nombres de peliculas aleatoriamente
prefijos = ["El misterio de", "El viaje de", "Las aventuras de", "La historia de", "El secreto de", "La leyenda de", "La búsqueda de", "El regreso de", "El tesoro de", "La odisea de", "La misión de", "La conquista de", "La travesía de", "El destino de", "El despertar de", "El último viaje de", "La venganza de", "El renacimiento de", "La rebelión de", "El vuelo de", "El descubrimiento de", "La sombra de", "La redención de", "El ritual de", "La batalla de", "El hechizo de", "El pacto de", "La profecía de", "El laberinto de", "El prisionero de", "La llegada de", "El amanecer de", "La fortuna de", "El enigma de", "La invasión de", "El resurgimiento de", "La metamorfosis de", "El eclipse de", "La danza de", "La canción de", "El lamento de", "La trampa de", "La travesura de", "El tesoro escondido de", "El vuelo mágico de", "El canto de sirena de", "El bosque encantado de", "La maldición de", "La leyenda perdida de", "La tormenta de", "El camino hacia", "El viajero de", "El guardián de", "La cripta de", "El espejismo de", "El secreto oscuro de", "La resurrección de", "La danza macabra de", "La fuga de", "La estrella fugaz de", "El grito de", "El castillo de", "La travesía sin retorno de", "La estirpe de", "La llave de", "El cuento de hadas de", "El príncipe de", "La doncella de", "El arco iris de", "La fuente de", "El refugio de", "La senda de", "La búsqueda del tesoro de", "El caballero de", "La escalada de", "La maldición del vampiro de", "La travesía del océano de"]
sufijos = ["el león", "la bailarina", "el sapo", "la estrella", "el mago", "la princesa", "el guerrero", "la criatura", "el explorador", "la bruja", "la montaña", "la isla", "el dragón", "la cueva", "el lobo", "la reina", "el rey", "la espada", "el castillo", "la flor", "la selva", "el tesoro", "la nube", "el unicornio", "la sirena", "el volcán", "la neblina", "la cascada", "el árbol", "la ciudad", "el río", "la tormenta", "la luna", "el sol", "la estrella fugaz", "el camino", "la sombra", "el laberinto", "la ola", "la caverna", "el mar", "el ángel", "la espada mágica", "el destino", "el faro", "el puente", "el horizonte", "el valle", "el puente", "la muralla", "el bosque", "la gruta", "la corona", "la aldea", "la batalla", "la noche", "el amanecer", "el atardecer", "el sueño", "la pesadilla", "el héroe", "la heroína", "la aventura", "el misterio", "la magia", "la leyenda", "la profecía", "el secreto", "el desafío", "la trampa", "la mariposa", "el jardín", "la tormenta", "la montaña", "el río", "el rincón", "el guardián", "el hechizo", "la misión", "la expedición", "la caza", "el trono", "la batalla", "la aventura", "el legado", "el enigma", "la clave", "el guardián", "el viajero", "la cripta", "el laberinto", "el abismo", "el muro", "la senda", "el laberinto", "la bruma", "la travesía", "el vuelo", "la sirena", "el hechicero", "la escuela", "la academia", "la sombra", "la estrella", "el ángel", "la gárgola", "la profecía", "la puerta", "la guerra", "el pacto", "la ley", "el viaje", "la huida", "la fortuna", "la prisión", "la cárcel", "el lamento", "la sonrisa", "el susurro", "el grito", "la fuga", "el monstruo", "la bestia", "la maraña", "el sueño", "la pesadilla", "la verdad", "el mito", "el océano", "la estrella", "el fuego", "la tierra", "el cielo", "la oscuridad", "la luz", "el caos", "la esperanza", "la promesa", "la traición", "el destino", "la salvación", "la perdición", "la soledad", "la compañía", "la amistad", "el amor", "la pasión", "la venganza", "el perdón", "el renacer", "el adiós", "la bienvenida", "la despedida", "el encuentro", "la desgracia", "la fortuna", "la guerra", "la paz", "la caída", "el renacimiento", "la resistencia", "el sacrificio", "la alianza", "el viaje", "el descubrimiento", "la revelación", "la esperanza", "la batalla", "el peligro", "la aventura", "la magia", "la pesadilla", "el misterio", "la leyenda", "la guerra", "el amor", "la traición", "la redención", "la libertad", "la prisión", "la oscuridad", "la luz", "la corrupción"]
#Nombres y apellidos para crear nombres de peliculas aleatoriamente
nombres = ["Akira", "Alessandro", "Chen", "Darius", "Emiko", "Fatemeh", "Gustavo", "Hiroko", "Isa", "Jin", "Katarina", "Lakshmi", "Mikhail", "Nina", "Omar", "Pilar", "Qiu", "Rashid", "Sakura", "Tatiana", "Umar", "Valentina", "Wang", "Xavier", "Yasmin", "Zafar", "Aarav", "Beatriz", "Chidike", "Darya", "Elif", "Fadhila", "Giovanni", "Hanako", "Ilya", "Jasmin", "Khaled", "Leticia", "Mehmet", "Nadia", "Orhan", "Parvati", "Quintus", "Rania", "Salim", "Theresa", "Ursula", "Vivek", "Wilhelmina", "Xin", "Yusef", "Zoya", "Abdullah", "Bianca", "Chiyoko", "Dmitri", "Elena", "Fabiana", "Genghis", "Han", "Irina", "Javier", "Kamala", "Leonardo", "Mina", "Natalia", "Oscar", "Patricia", "Quentin", "Rosa", "Samir", "Tatjana", "Umberto", "Valeria", "Wan", "Ximena", "Yuri", "Zara"]
apellidos = ["Abadi", "Bianchi", "Cruz", "Dutta", "Etxebarria", "Ferreira", "Gao", "Hernandez", "Ivanov", "Janssen", "Kawaguchi", "Lopez", "Montenegro", "Nguyen", "Olivares", "Petrov", "Qian", "Rodriguez", "Santos", "Tan", "Ueno", "Vargas", "Wu", "Xia", "Yilmaz", "Zhang", "Almeida", "Borges", "Carvalho", "Diniz", "Esteves", "Fernandes", "Gomes", "Henriquez", "Inácio", "Joaquim", "Lima", "Mendes", "Nogueira", "Oliveira", "Pereira", "Quintana", "Ramos", "Santana", "Teixeira", "Uchoa", "Vieira", "Xavier", "Yamamoto", "Zambrano", "Alvarez", "Barros", "Correia", "Duarte", "Estevez", "Figueiredo", "Goncalves", "Hidalgo", "Iglesias", "Jimenez", "Kumar", "Lopes", "Martinez", "Nunes", "Ortega", "Pacheco", "Queiroz", "Rocha", "Sousa", "Teles", "Urbina", "Velez", "Watanabe", "Xu", "Yan", "Zapata"]
# Definir el rango de fechas
fecha_inicial = datetime(1960, 1, 1)
fecha_final = datetime(2023, 12, 31)

# Calcular la diferencia entre las fechas inicial y final
diferencia = fecha_final - fecha_inicial

# Generar una fecha aleatoria dentro del rango
fecha_aleatoria = fecha_inicial + timedelta(days=random.randint(0, diferencia.days))

# Convertir la fecha al formato SQL DATE (YYYY-MM-DD)
fecha_sql = fecha_aleatoria.strftime('%Y-%m-%d')

cursor = conn.cursor()

premios_info = {}
directores_ids = []
for _ in range(200):
    nombre = random.choice(nombres) + " " + random.choice(apellidos)
    edad = random.randint(30,90)
    cursor.execute("INSERT INTO director (nombre, edad) VALUES (%s, %s) RETURNING id_director", (nombre, edad))
    id_director = cursor.fetchone()[0]
    directores_ids.append(id_director)
    
actores_ids = []
for _ in range(200):
    nombre = random.choice(nombres) + " " + random.choice(apellidos)
    edad = random.randint(15,70) 
    cursor.execute("INSERT INTO actor (nombre, edad) VALUES (%s, %s) RETURNING id_actor", (nombre, edad))
    id_actor = cursor.fetchone()[0]
    actores_ids.append(id_actor)

peliculas_ids = []
for _ in range(300):
    director_pelicula = random.choice(directores_ids)
    nombre = random.choice(prefijos) + " " + random.choice(sufijos)
    genero = random.choice(["Acción", "Aventura", "Animación", "Comedia", "Documental", "Drama", "Fantasía", "Terror", "Ciencia ficción", "Musical", "Misterio", "Romance", "Suspense", "Western"])
    duracion = random.randint(70,150)
    fecha_aleatoria = fecha_inicial + timedelta(days=random.randint(0, diferencia.days))
    # Convertir la fecha al formato SQL DATE (YYYY-MM-DD)
    fecha_sql = fecha_aleatoria.strftime('%Y-%m-%d')
    cursor.execute("INSERT INTO pelicula (id_director, nombre, genero, duracion, fecha_publicacion) VALUES (%s,%s,%s,%s,%s) RETURNING id_pelicula",(director_pelicula,nombre,genero,duracion,fecha_sql))
    id_pelicula = cursor.fetchone()[0]
    peliculas_ids.append(id_pelicula)
    if id_pelicula not in premios_info:
        premios_info[id_pelicula] = {}
        premios_info[id_pelicula]["año"] = fecha_aleatoria.year
        premios_info[id_pelicula]["director"] = director_pelicula
        premios_info[id_pelicula]["genero"] = genero
        premios_info[id_pelicula]["cast"] = []
        premios_info[id_pelicula]["mejor pelicula"] = "no"
    
lista_pelicula_actor = []
peliculas_actores = {}
for _ in range(500):
    peliculaID = random.choice(peliculas_ids)
    actorID = random.choice(actores_ids)
    if not (peliculaID, actorID) in lista_pelicula_actor:
        cursor.execute("INSERT INTO actor_participa_en_pelicula (id_pelicula, id_actor) VALUES (%s,%s)",(peliculaID,actorID))
        lista_pelicula_actor.append((peliculaID,actorID))
    else:
        continue


for pelicula, actor in lista_pelicula_actor:
    if pelicula in premios_info:
        premios_info[pelicula]["cast"].append(actor)

print(premios_info)
for _ in range(100):
    pelicula_al_azar = random.randint(1,300)
    tipo_de_premio = ["mejor pelicula", "mejor actor", "mejor director"]
    eleccion_premio = random.choice(tipo_de_premio)
    if eleccion_premio == "mejor director":
        if premios_info[pelicula_al_azar]["director"] != "elegido":
            director = premios_info[pelicula_al_azar]["director"]
            año = premios_info[pelicula_al_azar]["año"]
            cursor.execute("INSERT INTO premio_mejor_director (id_director, anio) VALUES (%s,%s)",(director, año))
            premios_info[pelicula_al_azar]["director"] = "elegido"
        else:
            continue
    elif eleccion_premio == "mejor actor":
        if premios_info[pelicula_al_azar]["cast"] != []:
            actor = random.choice(premios_info[pelicula_al_azar]["cast"])
            año = premios_info[pelicula_al_azar]["año"]
            cursor.execute("INSERT INTO premio_mejor_actor (id_actor, anio) VALUES (%s,%s)",(actor, año))
            premios_info[pelicula_al_azar]["cast"].remove(actor)
        else:
            continue
    elif eleccion_premio == "mejor pelicula":
        if premios_info[pelicula_al_azar]["mejor pelicula"] != "si":
            pelicula = pelicula_al_azar
            año = premios_info[pelicula_al_azar]["año"]
            cursor.execute("INSERT INTO premio_mejor_pelicula (id_pelicula, anio) VALUES (%s,%s)",(pelicula, año))
            premios_info[pelicula_al_azar]["mejor pelicula"] = "si"
        else:
            continue

conn.commit()
cursor.close()
conn.close()

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**Nombre de todas las películas publicadas desde el año pasado.**


**Ejemplo:**
|Nombre|
|------|
|Dune 2|
|...|


**Solución:** _Escriba aquí la descripción de su solución._

In [58]:
%%sql
SELECT nombre AS "Nombre"
FROM pelicula 
WHERE fecha_publicacion >= CURRENT_DATE - INTERVAL '1 year';

 * postgresql://postgres:***@localhost:5432/Tarea1backedup
4 rows affected.

[('El caballero de la puerta',),
 ('El castillo de la sonrisa',),
 ('El caballero de el sol',),
 ('La misión de la aventura',)]

### Consulta 2
**Nombre y fecha de publicación de todas las películas del género drama que hayan sido publicadas en el año 2023.**


**Ejemplo:**

|Nombre     |Fecha de publicación|
|-----------|--------------------|
|Oppenheimer|21-7-2023          |
|...        |...                 |


**Solución:** _Escriba aquí la descripción de su solución._

In [14]:
%%sql
/* Reemplace estas queries por las que resuelven las consultas pedidas. */

 * postgresql://postgres:***@localhost:5432/tarea_1
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: /* Reemplace estas queries por las que resuelven las consultas pedidas. */]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Consulta 3
**Nombres de todos los actores que participaron en una película de género comedia.**


**Ejemplo:**
|Nombre       |
|-------------|
|Margot Robbie|
|...          |


**Solución:** _Escriba aquí la descripción de su solución._

In [57]:
%%sql
SELECT DISTINCT actor.nombre AS "Nombre"
FROM actor
INNER JOIN actor_participa_en_pelicula ON actor.id_actor = actor_participa_en_pelicula.id_actor
INNER JOIN pelicula ON actor_participa_en_pelicula.id_pelicula = pelicula.id_pelicula
WHERE pelicula.genero = 'Comedia';

 * postgresql://postgres:***@localhost:5432/Tarea1backedup
27 rows affected.

[('Akira Queiroz',),
 ('Umberto Alvarez',),
 ('Zafar Olivares',),
 ('Fatemeh Carvalho',),
 ('Qiu Goncalves',),
 ('Zafar Quintana',),
 ('Valentina Oliveira',),
 ('Beatriz Carvalho',),
 ('Mikhail Gomes',),
 ('Fadhila Yamamoto',),
 ('Quentin Janssen',),
 ('Valentina Joaquim',),
 ('Darya Gao',),
 ('Alessandro Yilmaz',),
 ('Xavier Figueiredo',),
 ('Yusef Yilmaz',),
 ('Oscar Zambrano',),
 ('Umberto Xia',),
 ('Fabiana Hernandez',),
 ('Genghis Cruz',),
 ('Rosa Rodriguez',),
 ('Wang Santos',),
 ('Chidike Borges',),
 ('Abdullah Nogueira',),
 ('Valeria Zambrano',),
 ('Theresa Diniz',),
 ('Chidike Yilmaz',)]

### Consulta 4
**Nombre y cantidad de premios ganados por cada género, ordenados de mayor a menor según la cantidad de premios.**


**Ejemplo:**
|Género  |Cantidad de premios|
|--------|-------------------|
|Drama   |99                 |
|Fantasía|29                 |
|...     |...                |



**Solución:** _Escriba aquí la descripción de su solución._

In [16]:
%%sql
/* Reemplace estas queries por las que resuelven las consultas pedidas. */

 * postgresql://postgres:***@localhost:5432/tarea_1
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: /* Reemplace estas queries por las que resuelven las consultas pedidas. */]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Consulta 5
**Mostrar peliculas que tengan 2 o mas actores/actrices ordenadas de mayor a menor segun la cantidad de actores/actrices.**


**Ejemplo:**
|Nombre     |Cantidad de actores|
|-----------|-------------------|
|Oppenheimer|7                  |
|Poor Things|4                  |
|...        |...                |


**Solución:** _Escriba aquí la descripción de su solución._

In [62]:
%%sql
SELECT pelicula.nombre AS "Nombre", COUNT(*) AS "Cantidad de actores"
FROM pelicula
JOIN actor_participa_en_pelicula USING (id_pelicula)
GROUP BY pelicula.nombre, pelicula.id_pelicula
HAVING COUNT(*) >= 2
ORDER BY COUNT(*) DESC;

 * postgresql://postgres:***@localhost:5432/Tarea1backedup
150 rows affected.

[('La fuga de la reina', 7),
 ('La travesía del océano de la cárcel', 6),
 ('El castillo de el caos', 6),
 ('El príncipe de la flor', 5),
 ('La canción de el sol', 5),
 ('La rebelión de la noche', 5),
 ('La travesura de el misterio', 5),
 ('El eclipse de la montaña', 5),
 ('La danza macabra de la soledad', 4),
 ('El castillo de la luna', 4),
 ('El arco iris de el sol', 4),
 ('La llegada de el árbol', 4),
 ('El lamento de la huida', 4),
 ('La rebelión de la pesadilla', 4),
 ('El viaje de el misterio', 4),
 ('El castillo de la despedida', 4),
 ('Las aventuras de la prisión', 4),
 ('La leyenda perdida de el descubrimiento', 4),
 ('La danza de la pesadilla', 4),
 ('El secreto oscuro de el puente', 4),
 ('La travesía del océano de la estrella fugaz', 4),
 ('La maldición del vampiro de la aldea', 4),
 ('La fuga de la traición', 4),
 ('El refugio de la libertad', 4),
 ('La danza de la soledad', 3),
 ('El guardián de el laberinto', 3),
 ('El descubrimiento de la guerra', 3),
 ('La travesura de el tesoro', 3),
 ('El último viaje de el sapo', 3),
 ('El viaje de la luna', 3),
 ('El despertar de la compañía', 3),
 ('El misterio de la fortuna', 3),
 ('El grito de la caída', 3),
 ('El descubrimiento de la cueva', 3),
 ('El espejismo de la estrella fugaz', 3),
 ('La misión de la sombra', 3),
 ('La danza macabra de el laberinto', 3),
 ('La canción de la despedida', 3),
 ('La estrella fugaz de el unicornio', 3),
 ('El despertar de la estrella', 3),
 ('El último viaje de la nube', 3),
 ('La leyenda de el camino', 3),
 ('El vuelo mágico de la estrella', 3),
 ('El renacimiento de el ángel', 3),
 ('La búsqueda del tesoro de la leyenda', 3),
 ('El hechizo de la luz', 3),
 ('La batalla de la sombra', 3),
 ('El destino de la corrupción', 3),
 ('La fuente de la trampa', 3),
 ('La escalada de la heroína', 3),
 ('La travesía sin retorno de la magia', 3),
 ('El resurgimiento de la verdad', 3),
 ('El guardián de el cielo', 3),
 ('El descubrimiento de la compañía', 3),
 ('La batalla de la mariposa', 3),
 ('El pacto de el guardián', 3),
 ('El caballero de el dragón', 3),
 ('El tesoro de la pesadilla', 3),
 ('El canto de sirena de la mariposa', 3),
 ('La maldición de la cárcel', 3),
 ('La travesía sin retorno de la despedida', 3),
 ('La senda de el árbol', 3),
 ('El canto de sirena de la corona', 3),
 ('El renacimiento de la oscuridad', 3),
 ('La invasión de la salvación', 3),
 ('La llave de la neblina', 3),
 ('La batalla de el ángel', 2),
 ('La travesía del océano de el rincón', 2),
 ('La leyenda de el desafío', 2),
 ('La maldición del vampiro de la trampa', 2),
 ('El vuelo de la sirena', 2),
 ('El arco iris de la espada mágica', 2),
 ('La fuga de la promesa', 2),
 ('El caballero de la promesa', 2),
 ('El secreto oscuro de el valle', 2),
 ('La leyenda perdida de el amor', 2),
 ('El tesoro escondido de el valle', 2),
 ('La maldición del vampiro de el ángel', 2),
 ('La batalla de el puente', 2),
 ('La batalla de la espada', 2),
 ('La batalla de el río', 2),
 ('El secreto de el secreto', 2),
 ('El pacto de la tierra', 2),
 ('La estrella fugaz de el encuentro', 2),
 ('La leyenda perdida de el león', 2),
 ('El misterio de la princesa', 2),
 ('El misterio de la guerra', 2),
 ('La venganza de el lamento', 2),
 ('La misión de la tormenta', 2),
 ('La travesura de la trampa', 2),
 ('La travesía del océano de la alianza', 2),
 ('La odisea de el horizonte', 2),
 ('La cripta de el misterio', 2),
 ('La leyenda perdida de el peligro', 2),
 ('La cripta de la luz', 2),
 ('La escalada de la sombra', 2),
 ('El espejismo de el monstruo', 2),
 ('La estirpe de el misterio', 2),
 ('El refugio de el peligro', 2),
 ('La canción de el cielo', 2),
 ('La travesía del océano de la cárcel', 2),
 ('La fuga de el adiós', 2),
 ('El grito de la profecía', 2),
 ('La danza macabra de el amor', 2),
 ('El regreso de la pesadilla', 2),
 ('La fortuna de la princesa', 2),
 ('Las aventuras de el río', 2),
 ('La travesía de el hechizo', 2),
 ('El viaje de la guerra', 2),
 ('La fuga de la prisión', 2),
 ('La travesía de el guardián', 2),
 ('El enigma de la ley', 2),
 ('La maldición del vampiro de la travesía', 2),
 ('El camino hacia la ciudad', 2),
 ('La batalla de la bienvenida', 2),
 ('El secreto oscuro de el lobo', 2),
 ('La senda de el mito', 2),
 ('La historia de la promesa', 2),
 ('La maldición del vampiro de la aventura', 2),
 ('Las aventuras de el destino', 2),
 ('La tormenta de el horizonte', 2),
 ('El descubrimiento de la neblina', 2),
 ('La maldición de el mago', 2),
 ('El ritual de la selva', 2),
 ('La conquista de la caverna', 2),
 ('El caballero de la puerta', 2),
 ('La danza macabra de el camino', 2),
 ('La historia de el amor', 2),
 ('El cuento de hadas de la oscuridad', 2),
 ('El renacimiento de el hechizo', 2),
 ('El guardián de la flor', 2),
 ('El viaje de la luz', 2),
 ('La búsqueda de la travesía', 2),
 ('La profecía de el bosque', 2),
 ('El viaje de la caída', 2),
 ('El renacimiento de la luz', 2),
 ('La búsqueda de la ciudad', 2),
 ('El enigma de la sombra', 2),
 ('El guardián de el atardecer', 2),
 ('Las aventuras de la corrupción', 2),
 ('El laberinto de la bailarina', 2),
 ('El guardián de la aldea', 2),
 ('La fuga de el guerrero', 2),
 ('El pacto de el río', 2),
 ('La metamorfosis de la travesía', 2),
 ('El vuelo mágico de la bienvenida', 2),
 ('La fortuna de el río', 2),
 ('La travesía sin retorno de el océano', 2),
 ('La fuente de la bienvenida', 2),
 ('La fuga de el desafío', 2)]

### Consulta 6
**Nombre de la película con la mayor brecha de edad entre el actor más joven y el actor más viejo que participen en ella, y las edades de dichos actores.** (Si hay empate, mostrar solamente uno).


**Ejemplo:**
|Nombre|Edad del actor más joven|Edad del actor más viejo|
|------|------------------------|------------------------|
|Barbie|16                      |92                      |


**Solución:** _Escriba aquí la descripción de su solución._

In [18]:
%%sql
/* Reemplace estas queries por las que resuelven las consultas pedidas. */

 * postgresql://postgres:***@localhost:5432/tarea_1
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: /* Reemplace estas queries por las que resuelven las consultas pedidas. */]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Consulta 7
**Año de cada premio ganado por la película de mayor duración.** (Si hay empate, elegir solamente uno).


**Ejemplo:**
|Año |
|----|
|2024|
|... |


**Solución:** _Escriba aquí la descripción de su solución._

In [100]:
%%sql
SELECT anio AS "Año"
FROM premio_mejor_pelicula
INNER JOIN (
    SELECT id_pelicula
    FROM pelicula
    WHERE duracion = (
        SELECT MAX(duracion)
        FROM pelicula
    ) LIMIT 1
) AS pelicula_mayor_duracion ON premio_mejor_pelicula.id_pelicula = pelicula_mayor_duracion.id_pelicula;

 * postgresql://postgres:***@localhost:5432/Tarea1backedup
0 rows affected.

[]

### Consulta 8
**Nombre de todos los actores que han trabajado con más de un director, la cantidad de directores con las que han trabajado y el nombre de una de las películas.**


**Ejemplo:**
|Nombre del actor|Cantidad de directores|Nombre de una película|
|----------------|----------------------|----------------------|
|Cillian Murphy  |29                    |Oppenheimer           |
|...             |...                   |...                   |


**Solución:** _Escriba aquí la descripción de su solución._

In [20]:
%%sql
/* Reemplace estas queries por las que resuelven las consultas pedidas. */

 * postgresql://postgres:***@localhost:5432/tarea_1
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: /* Reemplace estas queries por las que resuelven las consultas pedidas. */]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Consulta 9

**Nombre de todos los actores que han participado sólo en películas dirigidas por el director con id\_director 1.**


**Ejemplo:**
|Nombre      |
|------------|
|Ryan Gosling|
|...         |


**Solución:** _Escriba aquí la descripción de su solución._

In [21]:
%%sql
/* Reemplace estas queries por las que resuelven las consultas pedidas. */

 * postgresql://postgres:***@localhost:5432/tarea_1
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: /* Reemplace estas queries por las que resuelven las consultas pedidas. */]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Consulta BONUS

**Nombre de todos los actores que nunca han ganado un premio, todas las películas en las que han participado y el nombre, número total de películas y número total de premios de los directores de cada película.**


**Ejemplo:**
|Nombre del actor|Nombre de la película|Nombre del director|Número de películas del director|Número de premios del director|
|----------------|---------------------|-------------------|--------------------------------|-----------------------|
|Mark Ruffalo    |Poor Things          |Yorgos Lanthimos   |4                               |0                      |
|Saoirse Ronan   |Lady Bird            |Greta Gerwig       |20                              |1                      |
|Saoirse Ronan   |Little Women         |Greta Gerwig       |20                              |1                      |
|...             |...                  |...                |...                             |...                    |


**Solución:** _Escriba aquí la descripción de su solución._

In [22]:
%%sql
/* Reemplace estas queries por las que resuelven las consultas pedidas. */

 * postgresql://postgres:***@localhost:5432/tarea_1
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: /* Reemplace estas queries por las que resuelven las consultas pedidas. */]
(Background on this error at: https://sqlalche.me/e/20/f405)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=cafe4e99-499e-4e36-b9fd-48e2d31e0196' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>